@import "../colors/colors.scss";
@import "../fonts.scss";

.idia_container {
    display: inline-flex;
    padding: 176px 180px 60px 180px;

    .idia_introduction {
        margin-right: 60px;

        .introduction_title {
            background: $color_gradient_red_text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 28px;
        }

        .introduction_text {
            margin-bottom: 20px;


            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .idia_advantages {
        position: relative;

        .advantages_item {
            display: inline-block;
            align-items: center;
            margin-bottom: 40px;

            .advantages_item_icon {
                display: inline-block;
                color: $color_accent;
                margin-right: 8px;
            }

            .advantages_item_numb {
                display: inline-block;
                font-size: 36px;
                font-weight: 700;
                line-height: 43.88px;
                background: $color_gradient_red_text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .advantages_item_text {
                margin-top: 10px;
                display: block;
                color: $color_main_regular;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: -30px;
            width: 4px;
            height: 322px;
            background: $color_grey_separator;
        }
    }
}

@media (max-width: 1024px) {
    .idia_container {
        padding: 60px;
    }

    .idia_advantages {
        width: 142%;
    }
}

@media (max-width: 768px) {
    .idia_container {
        padding: 60px;
        display: flex;
        flex-direction: column;
    }

    .idia_introduction {
        margin-right: 0;
    }

    .idia_advantages {
        width: 100%;
        padding: 30px 60px 60px 60px;
    }
}

@media (max-width: 375px) {
    .about_main{
        width: 100%;
    }
    .idia_introduction {
        margin-right: 0;
    }
    .idia_container {
        padding: 30px;
        display: flex;
        flex-direction: column;        
    }
}