.fonts_hero {
  font-size: 38px;
  font-weight: 700;
  line-height: 46.32px;
}

.fonts_h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
}

.fonts_h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
}

.fonts_h3_caps {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
}

.fonts_h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}

.paragraph_small {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.unordered_ordered_list {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}

.link {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  color: rgb(36, 163, 255);
  text-transform: uppercase;
}

.text_page_about {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.idia_container {
  display: inline-flex;
  padding: 176px 180px 60px 180px;
}
.idia_container .idia_introduction {
  margin-right: 60px;
}
.idia_container .idia_introduction .introduction_title {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 28px;
}
.idia_container .idia_introduction .introduction_text {
  margin-bottom: 20px;
}
.idia_container .idia_introduction .introduction_text:last-child {
  margin-bottom: 0;
}
.idia_container .idia_advantages {
  position: relative;
}
.idia_container .idia_advantages .advantages_item {
  display: inline-block;
  align-items: center;
  margin-bottom: 40px;
}
.idia_container .idia_advantages .advantages_item .advantages_item_icon {
  display: inline-block;
  color: rgb(240, 20, 90);
  margin-right: 8px;
}
.idia_container .idia_advantages .advantages_item .advantages_item_numb {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.idia_container .idia_advantages .advantages_item .advantages_item_text {
  margin-top: 10px;
  display: block;
  color: rgb(50, 50, 100);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}
.idia_container .idia_advantages::before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  width: 4px;
  height: 322px;
  background: rgb(230, 230, 240);
}

@media (max-width: 1024px) {
  .idia_container {
    padding: 60px;
  }
  .idia_advantages {
    width: 142%;
  }
}
@media (max-width: 768px) {
  .idia_container {
    padding: 60px;
    display: flex;
    flex-direction: column;
  }
  .idia_container .idia_introduction {
    margin-right: 0;
  }
  .idia_container .idia_advantages {
    width: 100%;
    padding: 30px 60px 60px 60px;
  }
}
@media (max-width: 375px) {
  .header, .about_main, .idia_container {
    max-width: 100%;
  }
  .idia_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0;
  }
  .idia_container .idia_introduction {
    margin-right: 0;
  }
  .idia_container .idia_advantages {
    width: 100%;
    padding-top: 30px;
    padding-left: 34px;
  }
  .idia_advantages {
    width: 100%;
    padding: 0;
  }
}/*# sourceMappingURL=about-idia.css.map */