@import "../colors/colors.scss";
@import "../fonts.scss";

.quality_container {
    display: flex;
    padding: 60px 180px;

    .quality_text{
        margin-right: 60px;
        width: fit-content;

        .about_quality_text {
            color: $color_basic_black;
            
        }
    }

    .about_quality_title {
        background: $color_gradient_red_text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 1024px) {
    .quality_container {
        padding: 60px;
    }
    .about_quality_title{
        width: 71%;
    }
}

@media (max-width: 768px){
    .quality_container {
        padding: 60px;
        display: flex;
        flex-direction: column;
    }
    .about_quality_title{
        width: 100%;
    }
}

@media (max-width: 375px) {
  
}