@import "../colors/colors.scss";
@import "../fonts.scss";

.drop_container {
  display: flex;
  flex-direction: column;

  .container_info_nav {
    width: 100%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 45px;
    align-items: center;
    justify-content: center;
    column-gap: 124px;


    .info_nav::after {
      content: "";
      display: block;
      position: absolute;
      top: -15px;
      right: -65px;
      width: 4px;
      height: 303px;
      background: rgba(255, 255, 255, 0.3);
    }

    .info_nav {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: flex-end;
      row-gap: 30px;

      .info_nav_link {
        color: $color_grey_text;

        &:hover {
          color: $color_accent;
        }
      }
    }

    .info_nav {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: flex-end;
      row-gap: 30px;

      .info_nav_link {
        color: $color_grey_text;
        

        &:hover {
          color: $color_accent;
        }
      }
    }

    .info_nav_link1 {
      background: $color_gradient_red_text_reversed;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .info_nav_text {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    // align-items: flex-start;
    // justify-content: flex-start;
    height: 100%;
    width: 581px;
    color: $color_basic_white;

    .info_nav_text_title {
      margin-top: 27px;
    
    }

    .info_nav_text_descr {
      font-size: 19px;
      font-weight: 400;
      line-height: 30px;
    }
  }

}