@import "../colors/colors.scss";
@import "../fonts.scss";

.h_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;   

    .h_container_icon {
      position: relative;
      z-index: 2;
    }

    .h_container_text {
      position: absolute;
      margin-top: 75px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      text-align: center;
      color: $color_basic_white;
    }

    .h_container_icon_drop {
      margin-top: -73px;
      cursor: pointer;
      z-index: 3;
      color: white;
  
      &:hover {
        color: $color_accent;
      }
    }
  }  

  
  