.head-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
.head-container .header {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px 0px 60px;
}
.head-container .header.dark {
  background-color: rgb(50, 50, 100);
  color: rgb(255, 255, 255);
}
.head-container .header.dark .main-nav-link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  margin-right: 15px;
}
.head-container .header.dark .main-nav-link:hover {
  color: rgb(240, 20, 90);
}
.head-container .header.dark .main-nav-link.active {
  color: rgb(240, 20, 90);
}
.head-container .header.dark .main-nav-link:last-child {
  margin-right: 0;
}
.head-container .header .logo {
  margin-bottom: 6px;
}
.head-container .header .header-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.head-container .header .header-content .header-content-lang-info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.head-container .header .header-content .header-content-lang-info .header-content-lang {
  display: inline-flex;
}
.head-container .header .header-content .header-content-lang-info .header-content-lang .content-lang-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 33px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  text-transform: uppercase;
}
.head-container .header .header-content .header-content-lang-info .header-content-lang .content-lang-btn:hover,
.head-container .header .header-content .header-content-lang-info .header-content-lang .content-lang-btn:focus-visible {
  background-color: rgb(240, 20, 90);
}
.head-container .header .header-content .content-info {
  display: flex;
  align-items: center;
}
.head-container .header .header-content .content-info .point-icon {
  margin-left: 6px;
  margin-right: 6px;
  fill: #E6E6F0;
}
.head-container .header .header-content .content-info .header-content-phone-number {
  font-weight: bold;
}
.head-container .header .header-content .header-content-fc-icon {
  cursor: pointer;
}
.head-container .header .header-content .header-content-fc-icon:hover {
  animation: scaleUp 0.1s forwards;
}
@keyframes scaleUp {
  to {
    transform: scale(1.1);
  }
}
.head-container .header .main-nav {
  display: flex;
  justify-content: flex-end;
}
.head-container .header .main-nav .main-nav-link:hover {
  border-bottom-color: rgb(240, 20, 90);
}
.head-container .header .main-nav .main-nav-link.active {
  color: rgb(240, 20, 90);
  border-bottom-color: rgb(240, 20, 90);
}
.head-container .h-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
}
.head-container .h-container .h-container-icon {
  position: relative;
}
.head-container .h-container .h-container-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 700;
  line-height: 46.32px;
}
.head-container .h-container .h-container-icon-drop {
  margin-top: -73px;
  cursor: pointer;
  z-index: 3;
}
.head-container .h-container .h-container-icon-drop:hover {
  stroke: rgb(240, 20, 90);
}
.head-container .drop-container {
  margin-top: auto;
}/*# sourceMappingURL=header.css.map */