@import "../colors/colors.scss";
@import "../fonts.scss";
@import "../index.scss";

@mixin header_style($bg_color, $text_color, $link_active_color, $link_hover_color, $btn_hover_color) {
  background-color: $bg_color;
  color: $text_color;

  .main_nav_link {
    color: $link_hover_color;
    margin-right: 15px;
    position: relative;

    &:hover::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      background-color: $link_hover_color;

    }

    &:active {
      color: $link_active_color;
    }


    &:active::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      background-color: $link_active_color;

    }

    &:last-child {
      margin-right: 0;
    }
  }

  .content_lang_btn {
    background-color: transparent;
    color: $text_color;

    &:hover {
      background-color:  $btn_hover_color;
    }

    &:active {
      color: $color_basic_white;
      background-color: $color_accent;
    }
  }

  .header_content_fc_icon {
    color: $text_color;
  }
}

.head_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background: $color_gradient_supersoft;
  border-radius: 0 0 12px 12px;
  box-shadow:
    0 10px 20px 1px rgba(202, 202, 219, 1),
    0 20px 30px 1px rgba(231, 231, 242, 1);
}

.header {
  display: flex;
  width: 100%;
  height: fit-content;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px 0px 60px;

  &.light {
    @include header-style($color_basic_white, $color_grey_text, $color_accent, $color_active_regular, $color_grey_bg);
  }

  &.dark {
    @include header_style($color_main_regular, $color_basic_white, $color_accent, $color_basic_white, $color_hover_head_btn1);
  }

  .logo {
    margin-bottom: 10px;
  }

.main_nav_home_link{
  display: flex;
  align-items: flex-start;

  .main_nav_home_link_slash{
    margin-right: 4px;
    margin-left: 4px;
    fill: $color_accent;
  }
  .main_nav_home_link_about{
    font-size: 36px;
    font-weight: 400;
    line-height: 43.88px;
    color: $color_main_regular;
  }
}

  .header_content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    z-index: 12;
   
    position: relative;

    .header_content_lang_info {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .header_content_lang {
        display: inline-flex;        

        .content_lang_btn {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 25px;
          width: 33px;
          border-radius: 8px;
          cursor: pointer;
          font-weight: 700;
          font-size: 12px;
          line-height: 14.63px;
          text-transform: uppercase;
        }
      }
    }

    .content_info {
      display: flex;
      align-items: center;

      .point_icon {
        margin-left: 6px;
        margin-right: 6px;
        fill: $color_grey_separator;
      }

      .header_content_adress {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
      }
    }

    .header_content_fc_icon {
      cursor: pointer;
    }

    .header_content_fc_icon:hover {
      animation: scaleUp 0.1s forwards;
      color: $color_accent;
    }

    @keyframes scaleUp {
      to {
        transform: scale(1.1);
      }
    }
  }

  .main_nav {
    display: flex;
    justify-content: flex-end;
    position: relative;

  }
}