@import "../colors/colors.scss";
@import "../fonts.scss";

.team_container {
    margin-top: 80px;
    display: flex;


    .team_item {
        align-items: stretch;
        display: flex;
        width: 100%;
        padding: 0 60px 46px 60px;

        .team_item_img_div {
            display: flex;

            .team_item_img {
                height: 100%;
                width: 400px;
                border-radius: 12px 0 0 12px;
            }
        }


        .team_item_content {
            padding: 30px;
            background-color: rgba(245, 245, 250, 1);

            .team_item_link {
                color: $color_active_regular;

                .team_item_svg {
                    margin-left: 2px;
                }
            }

            .team_item_text {
                background: $color_gradient_red_text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-top: 5px;
                margin-bottom: 30px;
            }

            .team_item_name {
                display: block;
                color: $color_grey_text;
                margin-bottom: 6px;
            }

            .team_item_position {
                color: $color_grey_text;
            }
        }
    }
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-list {
    overflow: hidden;

}

.slick-track {
    display: flex;

}

.slick-dots {
    list-style: none !important;     
    margin-bottom: 22px;
}

.slick-dots li button {
    display: block;
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    background-color: $color_active_regular;
    opacity: 0.2;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots li button:hover {
    background-color: $color_active_hover; 
    opacity: 0.6;
}

.slick-dots li.slick-active button {
    background-color: $color_active_regular; 
    opacity: 1;
}

.slick-dots li button::before {
    display: none;
}